*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 16px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  text-decoration: none;
  margin: 0;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    height: 120px;
    padding: 0px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  

:root{
    --bg: white;
    --text_portfolio: black;
    --text: #292929;
    --bg_btn:#292929;
    --text_btn:white;
    --bg_green:#F6FFF6;
    --bd_green:#000;
    --text_green:#64C661;
    --grid_bg:#FFF;
    --grid_bd:#000;
    --skills_bg: white;
    --about_text:#464646;
    --Red_Orange: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    --Blue_Purple:linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
}


@media (prefers-color-scheme: dark) {
 :root{
    --text_portfolio:white;
    --bg: black;
    --text: white;
    --bg_btn:  #925FF0;
    --text_btn:white;
    --bd_green:#646464;
    --bg_green:#0B0B0B;
    --grid_bg:#0B0B0B;
    --text_green:#C8FEC7;
    --grid_bd:#737373;
    --skills_bg: #010101;
    --about_text:white;
    --Red_Orange: linear-gradient(90deg, #84FAB0 0%, #8FD3F4 100%);
    --Blue_Purple:linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
 }
 .navbar_img, .list_link-icon{
    filter: invert(0);
 }

 .star, .zig_zag{
    filter: invert(1);
 }

 .dawn{
    filter: grayscale(72%);
 }

 .graph{
    content: url("./img/Graph_dark.png");
 }

 .gradient{
    background: url("./img/background_dark.png") lightgray 50% / cover no-repeat;
 }

}

@media (prefers-color-scheme: light){
    .navbar_img, .list_link-icon{
        filter: invert(1);
    }

    .gradient{
        background: url("./img/background_light.png") lightgray 50% / cover no-repeat;
    }
}

body{
    background-color: var(--bg);
    color: var(--text);
}


.navbar_list{
list-style-type: none;
display: flex;
font-weight: 450;
justify-content: center;
gap: 25px;
align-items: center;
color:  var(--text);
}

.navbar_btn{
    border-radius: 4px;
    padding: 12px 24px;
justify-content: center;
align-items: center;
background-color: var(--bg_btn);
color: var(--text_btn);
text-align: center;
cursor: pointer;
}

.btn_hover{
border-radius: 4px;
    padding: 12px 24px;
justify-content: center;
align-items: center;
background-color: var(--bg_btn);
color: var(--text_btn);
text-align: center;
cursor: pointer;
}

.designer_list{
list-style-type: none;
display: flex;
justify-content: space-between;
}

.designer_content{
width: 820px;
display: flex;
align-items: flex-start;
}

.designer_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 10px;
    gap: 11px;
    display: flex;
    align-items: center;
}

.designer_title{
    color: var(--text);
    font-family: Anton;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 180px */
letter-spacing: -6px;
margin-bottom: 20px;
}

.designer_subtitle{
    font-family: Anton;
    font-size: 112px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 102.6px */
    letter-spacing: -3.42px;
    background:  linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 70px;
}

.download{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 52px;
background-color: #292929;
gap: 8px;
color: var(--White, #FFF);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 100%; /* 20px */
letter-spacing: -1px;
margin-top: 40px;
}

.designer{
margin-top: 40px;
}

.achievements_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
padding: 82px 110px;
justify-content: space-between;
border-radius: 29px;
border: 1px solid var(--bd_green);
background: var(--bg_green);
margin-top: 145px;
align-items: center;
margin-bottom: 200px;
color: var(--text_green);
}

.achievements_number{
    text-align: center;
    font-family: Anton;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 115.2px */
    text-transform: uppercase;
}

.achievements_text{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
}

.portfolio{
margin-top: 200px;
margin-bottom: 200px;
}

.portfolio_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 10px;
}

.grid_box{
    border-radius: 10px;
    border: 1px solid var(--grid_bd);
    background: var(--grid_bg);
    padding: 30px;
}

.grid_box > img{
width: 100%;
}

.grid{
    display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap:30px;
}

.btn_grid_box{
display: flex;
gap: 5px;
}

.portal{
    color: var(--text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%; /* 28px */
    letter-spacing: -1.4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.portfolio_text{
    color: var(--text_portfolio);
font-family: Anton;
font-size: 64px;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
margin-bottom: 35px;
}

.btn_grid{
    border-radius: 12px;
    border: 1px solid var(--main-colors-purple-3, #BE9FF6);
    background: var(--main-colors-purple-1, #E9DFFC);
    padding: 4px 8px 6px 8px;
    color: var(--main-colors-purple-6, #784DC7);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.7px;

}

.btn{
    background: #292929;
    padding: 12px 24px;
    text-align: center;
    color: #FFF;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 100%; /* 16px */
letter-spacing: -0.8px;
text-transform: capitalize;
margin-top: 23px;
}

.grid_skils_element{
    border-radius: 10px;
    border: 1px solid #737373;
    background: var(--skills_bg);
    display: flex;
   padding: 40px 50px 60px 40px;
  align-items: center;
  gap: 20px;
}

.skills_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 10px;
    margin-bottom: 200px;
}

.skills_text{
    color: var(--text_portfolio);
    font-family: Anton;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 64px */
    margin-bottom: 50px;
    text-transform: uppercase;
}

.skills_title{
    color: var(--text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 780;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
    margin-bottom: 20px;
}

.skills_subtitle{
    color: var(--text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -1px;
}

.grid_skills{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
gap: 20px;
}

.grid{
align-items: center;
justify-content: center;
}

.gradient{
    margin-bottom: 200px;
}

.gradient_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 145px 225px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 60px;
}

.title_gradient{
    color:  #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%; /* 50.4px */
    letter-spacing: -2.4px;
}

.text_gradient{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 105%; /* 50.4px */
    letter-spacing: -2.4px;
}

.about_me_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 5px;
}

.title_about{
    color: var(--text);
    font-family: Anton;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 64px */
    text-transform: uppercase;
}

.box_about{
display: flex;
gap: 38px;
align-items: center;
}

.text_about{
    color: var(--about_text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 750;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
    max-width: 665px;
    margin-top: 75px;
}

.color_text{
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex_about{
display: flex;
justify-content: space-between;
}

.flex_about3{
display: flex;
align-items: center;
justify-content: space-between;
}

.flex_about2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.learning_text{
    color: var(--about_text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 750;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
    max-width: 665px;
    text-align: right;
}

.color_text2{
    background: var(--Red_Orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full_name{
    color: var(--about_text);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 750;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
    max-width: 655px;
}

.color_text3{
    background: var(--Blue_Purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color_text4{
    background: linear-gradient(90deg, #FFE76A 20%, #65C8FF 29%, #65C8FF 40%, #65C8FF 73%, #F00 20.1%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.spiral{
position: absolute;
right: 70px;
}

.photo, .photo1,.photo2{
position: relative;
max-height: 530px;
}

.dawn2{
position: absolute;
left: 150px;
top:17px;
}

.warm{
position: absolute;
right: 30px;
top: 20px;
}

.footer{
    background:  #292929;
}

.footer_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
}

.footer_list{
display: flex;
color: #FFF;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 20px */
letter-spacing: -1px;
gap: 30px;
list-style-type: none;
}

.footer_img{
    width: 160px;
    height: 60px;
}

.hr_footer{
height: 1px;
color: #E6E6E6;
padding-bottom: 45px;
margin-top: 30px;
}

.prefooter_container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 10px;
    border-radius: 15px;
    background: #A87FF3;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: -90px;
}

.prefooter_text{
    color: #FFF;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 22px */
    letter-spacing: -1.1px;
    padding-top: 68px;
    padding-bottom: 68px;
}

.prefooter_img{
position: absolute;
left: -30px;
bottom: 0px;
z-index: 1;
}

.waves1{
position: absolute;
top:0px;
right: 0px;
}

.waves2{
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index: 0;
}

.burger {
    position: relative;
    width: 24px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.input_burger {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    transition: 0.3s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .input_burger:checked  ~ .navbar_list{
    overflow: visible;
    height: 350px;
  }

  .btn_hover{
  display: none;
}


@media (max-width: 1550.98px){
 .star{
 display: none;
 }

 .designer_container > img{
 max-width: 550px;
 }

 .designer_content{
 text-align: center;
 }

 .designer_container{
 justify-content: center;
 }

 .designer_title{
 font-size: 140px;
 letter-spacing: -7px;
 }

 .designer_subtitle{
 font-size: 80px;
 }

 .prefooter_container{
max-width: 1350px;
 }
 .prefooter_text{
padding-left: 140px;
letter-spacing: -0.5px;
 }
 .spiral, .dawn2, .warm{
 display: none;
 }
  .about_me_container{
max-width: 1350px;
 }

 .baby{
 width: 660px;
 height: 476px;
 }

 .man{
    width: 660px;
 }
 .photo{
 height: 476px;
 }

 .photo1{
    height: 454px;
  }

  .photo2{
    height: 486px;
  }

 .teen{
width: 680px;
 }
}

@media (max-width: 1350.98px){
.dawn{
display: none;
}
.achievements_container{
padding: 62px 90px;
}

.prefooter_container{
    max-width: 1024px;
}

.prefooter_text{
padding-right:  50px;
padding-left: 290px;
}

.achievements_number{
font-size: 100px;
}

.box_about{
gap: 17px;
}

.zig_zag{
max-width: 130px;
}

.about_me_container{
max-width: 1024px;
}

.baby{
 width: 517px;
 object-fit: cover;
}
   
.man{
 width: 517px;
 object-fit: cover;
 height: 486px;
}

.flex_about{
 gap: 50px;
}
.flex_about3{
 gap: 70px;
}
    
.flex_about2{
 gap: 80px;
}
   
.teen{
   width: 497px;
   object-fit: cover;
   height: 454px;
}

.achievements_text{
font-size: 25px;
}
.learning_text, .text_about, .full_name{
 font-size: 28px;
}

}

@media (max-width: 1024.98px){

 .designer_container, .navbar_container, .achievements_container, .portfolio_container, .skills_container, .gradient_container, .footer_container, .about_me_container{
 max-width: 864px;
 }
 .designer_container > img{
 display: none;
 }
 .achievements_number{
    font-size: 80px;
    }
 .achievements_container{
        padding: 62px 70px;
    }
    
    .gradient_container{
        padding: 145px 70px;
    }
    .achievements_text{
    font-size: 20px;
    }
    .title_gradient, .text_gradient{
    font-size: 40px;
    letter-spacing: -1.2px;
    }
    .prefooter_container{
        max-width: 768px;
    }
 .text_about, .learning_text, .full_name{
 font-size: 28px;
 }
 .title_about{
 font-size: 45px;
 }

 .zig_zag{
 max-width: 100px;
 }
 .baby{
 height: 476px;
 width: 415px;
 }

 .teen{
 height: 454px;
 width: 440px;
 }

 .man{
    width: 415px;
 }
    
}

@media (max-width: 864.98px){
.flex_about{
flex-direction: column;
gap: 10px;
align-items: center;
}

.flex_about3{
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    align-items: center;
}
    
.about_me_container{
 max-width: 664px;
 }

.baby, .teen, .man{
 width: 465px;
 object-fit: contain;
 }
.photo, .baby, .photo1, .teen, .photo2, .man{
max-height: 400px;
 }
 .flex_about2{
 flex-direction: column-reverse;
 margin-top: 30px;
 gap: 10px;
 align-items: center;
 }
.about_me_container{
margin-bottom: -130px;
 }

 .learning_text{
 text-align: left;
 }

}

@media (max-width: 768.98px){
    .burger {
        display: block;
    }

    .title_gradient, .text_gradient{
        font-size: 30px;
        }
        .gradient_container{
            padding: 100px 70px;
        }
    .input_burger:checked ~ .burger > span:nth-of-type(1){
        transform: rotate(57deg);
    }

    .input_burger:checked ~ .burger > span:nth-of-type(3){
        transform: rotate(-55deg);
    }


    .input_burger:checked ~ .burger > span:nth-of-type(2){
        display: none;
    }

    .navbar_list{
        overflow: hidden;
        align-items:center;
        position:fixed;
        flex-direction: column;
        transition: all 0.3s linear;
        width: 100dvw;
        z-index: 3;
        top:100px;
        background-color: white;
        gap: 30px;
        height:0px;
    }

    .navbar_container{
    height: 90px;
    }

    .btn_hover{
    display: block;
    }

    
    .navbar_btn{
    display: none;
    }
    .achievements_container{
    flex-direction: column;
    gap:140px;
    max-width: 668px;
    padding: 62px 30px;
    }
    .grid_skils_element{
    flex-direction: column;
    }
    .skills_title, .skills_subtitle{
    text-align: center;
    }
    .grid_skills{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
    .prefooter_container{
        max-width: 475px;
        margin-bottom: -60px;
    }
    
    .prefooter_text{
    padding: 30px 50px 30px 140px;
    font-size: 15px;
    }
    .prefooter_img{
    max-height: 250px;
    }

    .waves2{
    display: none;
    }
    .waves1{
    max-height: 69px;
    }

    .footer_container{
    padding-top: 100px;
    }

    .footer_img{
    width: 120px;
    height: 45px;
    }
}

@media (max-width: 475.98px){

 .designer_container, .navbar_container, .navbar_list, .achievements_container, .portfolio_container, .footer_container,.about_me_container{
 max-width: 386px;
 }
 .designer_title{
 font-size: 90px;
 letter-spacing: -1px;
 }

 .designer_subtitle{
 font-size:50px;
 letter-spacing: -1px;
 margin-bottom: 30px;
 }
 .grid_skills{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 }

 .title_gradient, .text_gradient{
    font-size: 24px;
    letter-spacing: -0.5px;
    }

    .gradient_container{
        padding: 95px 30px;
    }
 .skills_title{
  font-size: 33px;
 }
 .prefooter_text{
    padding: 30px 30px 30px 90px;
    font-size: 12px;
    }
    .prefooter_img{
    max-height: 190px;
    }
    .prefooter_container{
        max-width: 300px;
    }

    .footer_container{
    flex-direction: column;
    gap: 20px;
    }

    .footer_list{
    font-size: 18px;
    }

    .baby, .teen, .man{
    object-fit: cover;
    width: 360px;
    height: 300px;
    }

    .photo, .photo1, .photo2{
    height: 300px;
    overflow: hidden;
    }
    .text_about, .learning_text, .full_name{
        font-size: 22px;
        }

        .zig_zag{
        display: none;
        }
}
@media (max-width: 360.98px){
    .baby, .teen, .man{
        object-fit: cover;
        width: 300px;
        height: 250px;
        }
    
        .photo, .photo1, .photo2{
        height: 250px;
        overflow: hidden;
    }
    .about_me_container{
    max-width: 320px;
    }
}

